<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" th:href="@{main.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" >

    <script type="module" th:href="@{/ConstantValues.js}"></script>
    <script th:href="@{/jquery-3.5.1.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDJZKw9mlX49vr0vkw4jd7xj2HuVPmCuw&callback=initMap"></script>
</head>

<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>

            </p>
            <input type="submit" value="Sign Out" />

        </form>
        <!-- Button trigger modal -->

    </div>
    <div>
        <h1>List of Accidents</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Serial No</th>
                <th>Person Name</th>
                <th>Mobile</th>
                <th>Hospital Name</th>
                <th>Accident lat</th>
                <th>Accident lon</th>
                <th>Action Needed</th>
                <th>Action Needed checkbox</th>
                <th style="display: none" >ID</th>
                <th>Show In Map</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>

    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-xl">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div id="map" style="width: 600px; height: 400px; margin-left: auto; margin-right: auto"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<script type="application/javascript">
//    import { BaseUrlTest } from './static/ConstantValues.js'

    $( document ).ready(function() {

        getLatestAccidents();
    });


    function setIsProcess(id, obj){

        let accidentData = {
            id: id,
            processed: 0
        }
//http://192.168.0.102:8085/
        if ($(obj).is(":checked")) {
            accidentData.processed=1;
            $.ajax({
                url: "/api/accident/updateisprocess",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(accidentData),
                dataType: "json",
            }).then(function (data) {

            });
        }
    }
    var interval = setInterval(function () {
        getLatestAccidents();
    }, 9000);

    function getLatestAccidents() {

        //[{"id":1,"lat":"50.1262093","lon":"8.6377916","hospital":{"id":2,"name":"St. Elisabethen Hospital Frankfurt","lat":"50.1262093","lon":"8.6377916"},"user":{"id":2,"mobileno":"4444333","name":"Kabir Kutta"},"createdDate":null,"processed":false}]

        $.ajax({
            url: "/api/location/get-accidents",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).then(function (data) {

            var accidents = data;
            $('#tableBody').html("");

            for(var i = 0; i < accidents.length; i ++) {

                var accidentObj = accidents[i];
                var hospitalObj = accidentObj.hospital;
                var personObj = accidentObj.user;

                var actionNeeded = accidentObj.processed == true ? "NO" : "YES";
                var checkboxaction = accidentObj.processed == true ? "checked " : "";

                var row =
                    "<tr style=\"cursor: pointer\" >" +
                        "<td> " + accidentObj.id  + " </td> " +
                        "<td> " + personObj.name  + " </td> " +
                        "<td> " + personObj.mobileno  + " </td> " +
                        "<td> " + hospitalObj.name  + " </td> " +
                        "<td> " + accidentObj.lat  + " </td> " +
                        "<td> " + accidentObj.lon  + " </td> " +
                        "<td> " + actionNeeded  + " </td> " +
                    "<td> <input  type=\'checkbox\' "+checkboxaction+" onclick='setIsProcess("+accidentObj.id+", this)'> </td> " +
                       "<td style='display: none'>"+accidentObj.id+"</td> " +
                    "<td> <button data-toggle='modal' onclick='updateAccidentMarkerPosition("+accidentObj.lat+","+accidentObj.lon+")' data-target='#myModal'>Google Map</button></td></tr>";

                $('#tableBody').append(row);
            }

        });

    }

    var map;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: {
                lat: 0,
                lng: 0
            },
            zoom: 15,
        });
        marker = new google.maps.Marker({
            position: {
                lat: 0,
                lng: 0
            },
            map,
            title: "Hello World!",
        });
    }

    function updateAccidentMarkerPosition(latitude, longitute) {

        map.setCenter(new google.maps.LatLng(latitude, longitute));

        marker.setPosition({
            lat: parseFloat(latitude),
            lng: parseFloat(longitute)
        });
    }


</script>
</body>
</html>